backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
bottle==0.12.9
certifi==2015.4.28
decorator==4.0.2
functools32==3.2.3.post2
jsonschema==2.5.1
MarkupSafe==0.23
mechanize==0.2.5
mistune==0.7.1
path.py==8.1
pickleshare==0.5
Pillow==3.0.0
Pygments==2.0.2
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2015.4
pyzmq==14.7.0
requests==2.9.0
simplegeneric==0.8.1
traitlets==4.0.0
